{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block page_header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">School LMS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'timetable' %}">Timetable</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'grades' %}">Grades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'myprofile' %}">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div id="lms-welcome-container" class="container h-100 mt-5">
        <div class="row justify-content-center align-items-center h-100">
            <div id="lms-welcome-box" class="col-10 col-md-8 text-center border border-light rounded shadow-lg bg-dark text-white">
                <div class="p-4">
                    <h1 id="lms-welcome-title" class="display-4 text-light">
                        Welcome to the School LMS
                    </h1>
                    <p id="lms-welcome-motto" class="lead mb-4">
                        "Your Education, Our Commitment" <!-- School Motto -->
                    </p>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}
