{% extends "base.html" %}
{% load static %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="card p-4 shadow-lg">
                <h1 class="text-center mb-4">{% trans "Sign Out" %}</h1>
                <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>
                {% url 'account_logout' as action_url %}
                <form method="post" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ redirect_field }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger btn-block">{% trans 'Sign Out' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
